.footer{
    background: rgba(0,0,0,.3);
}
.wrapper_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.logo_footer{
    max-width: 400px;
}
.logo_footer h1{
    text-align: center;
}
.menu_footer{
    display: flex;
}
.menu_footer .list-item{
    list-style: none;
    width: 200px;
    line-height: 30px;
    font-size: 13px;
}
.menu_footer .list-item .title{
    font-size: 15px;
}
.menu_footer .list-item .item a{
    text-decoration: none;
    color: #408BEA;
}

.contact_list{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.contact_list .contact_item{
    list-style: none;
    padding: 0px 20px;
}

.contact_list .contact_item a{
    color: white;
}

.contact_list .contact_item a:hover{
    color: #408BEA ;
}
.return{
    padding: 10px 15px;
    background: rgba(255,255,255,.2);
    color: #fff;
}